<div class='message list-group-item list-group-item-action'>
    <h5 class="list-group-item-heading"><%= message.user.username %></h5>
    <p class="list-group-item-text"><%= message.content %></p>
</div>