<form id='message_form'>
  <label class='col-form-label'>Say something</label><br>
  <textarea class="form-control" rows="5" name='content'></textarea>
  <br/>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>