<form class='user-form'>
  <label class='col-form-label'>Login with you name or give yourself a name if you don't have one yet!</label><br>
  <input class="form-control" type="text" name='username'>
  <br/>
  <button type="submit" class="btn btn-primary login-button">Login</button>
  <button type="submit" class="btn btn-primary signup-button">Sign Up</button>
</form>