<form class='room_form form-group'>
  <label class='col-form-label'>Start a new room with a topic!</label><br>
  <input class="form-control" type="text" placeholder='e.g. Fireball' name='topic'>
  <br/>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>