<h1>Chat Rooms</h1>

<% if current_user %>
  <div class="room-section">
    <div id='rooms'>
      <%= render @rooms %>
    </div>
    <%= render 'rooms/room_form' %>
  </div>
<% else %>
  <%= render 'users/user_form' %>
<% end %>

<div class='room_box'>
</div>